##############################
# Flask & Flask Dependencies #
##############################
Flask
Flask-Compress

# Fork of flask_cache: https://github.com/sh4nks/flask-cache
-e git+git://github.com/sh4nks/flask-cache.git#egg=flask_cache

# Fork of flask_markdown: https://github.com/brmullikin/flask-markdown
-e git+git://github.com/brmullikin/flask-markdown.git@0.4#egg=flask_markdown

##################################
# BRMFlask specific dependencies #
##################################
coloredlogs
htmlmin
Markdown
smartypants
dotenv
pygments

############################
# Serve Application (Live) #
############################
gunicorn
eventlet

###############################
# Development & Testing Tools #
###############################
# pytest
# flask_debugtoolbar
# pytest-cov
# pytest-flask
# pep8
# flake8-pep257
