{% set base = config.get('TEMPLATE_PATH') %}
{% extends '{0}/skeleton/base.htm.j2'.format(base) %}


{%block title %}Home Page{% endblock %}
{%block description %}Page under construction{% endblock %}
{%block mainimage %}img/default-image.png{% endblock %}
{%block author %}B. R. Mullikin{% endblock %}
{%block twitter_author %}@dissata{% endblock %}

{%block hero %} {% endblock %}

{% block content_main %}

{% filter markdown %}# Test Page{% endfilter %}

{% endblock %}
