{%- set base = config.get('TEMPLATE_PATH') -%}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{config.get('BASE_URI')}}{{config.get('SERVER_NAME')}}{{ request.path }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="dns-prefetch" href="{{ config.get('ASSET_BASE') }}">

    <title>{%block title %}{% endblock %}</title>

</head>
<body class="{%block body_classes %}{% endblock %}">
    <div class="loader"></div>
    <div class="lazy-load">
        {%- block content_header -%}
        <header class="top-header top-header--affixed">
            <a href="/" class="logo">
                <h1 class="title">BRMFlask</h1>
            </a>
            {% include '{}/partials/menu.html'.format(base) %}
        </header>
        {%- block hero -%}{%- endblock -%}
        {%- endblock -%}
        {%- block body %}
            <div class="articleBody">
                {%- block content_main %}{%- endblock -%}
            </div>
        {%- endblock -%}
        {%- block content_footer -%}<footer></footer>{%- endblock -%}
    </div>
    {%- block css_default -%}{%- endblock -%}
    {%- block css -%}{%- endblock -%}
    {%- block scripts_default -%}{%- endblock -%}
    {%- block scripts -%}{%- endblock -%}
</body>
</html>
