{%- macro hero() -%}
{#
    expected keyword arguments:
    1. <str> title
    2. <str> background_url

    Optional keyword arguments:
    1. <str> category
    2. <str> subtitle
    3. <str> author
    3. <str> aditional_css
#}
<header class="hero--header">
    <div class="hero--background-image" style="background-image: url({{ kwargs['background_url'] |safe}}); {{ kwargs['additional_css'] |safe}}">
    {% if kwargs['category'] is defined %}
        <span class="hero--category">{{ kwargs['category'] |safe}}</span>
    {% endif %}
        <h1 class="hero--title">{{ kwargs['title'] |safe}}</h1>
    {% if kwargs['subtitle'] is defined %}
        <p class="hero--subtitle">{{ kwargs['subtitle'] |safe}}</p>
    {% endif %}
    {% if kwargs['author'] is defined %}
        <h2 class="hero--author">{{ kwargs['author'] |safe}}</h2>
    {% endif %}
    </div>
</header>
{%- endmacro -%}

{%- macro citation(
    author="",
    date="",
    title="",
    pub_info="",
    add_label=True
) -%}
{#
    headers.citation(
        author="The Author",
        date="20XX",
        title="The Title",
        pub_info="City: Publisher",
        add_label=True
        pdf={
            'link': "link/to/pdf",
            'title': "title"
        },
        amazon={
            'link': "http://amzn.to",
            'title': "title"
        }
    )
#}
<div class="citation {% if add_label %}citation-label{% endif %}">
    <cite><span class="smcp">{{author}}</span> <em>{{title}}</em> {{pub_info}} {{date}} {% if kwargs['pdf'] is defined %}<a href="{{ config.get('ASSET_PATH') }}/{{kwargs['pdf']['link']}}" title="{{kwargs['pdf']['title']}}">pdf</a> {% endif %} {% if kwargs['amazon'] is defined %}<a href="{{kwargs['amazon']['link']}}" title="{{kwargs['amazon']['title']}}">amazon</a>{% endif %}</cite>
</div>
{%- endmacro -%}

{%- macro citation_simple(
    author="",
    title="",
    add_label="citation-label"
) -%}
{#
    headers.citation(
        title="The Title",
        pdf={
            'link': "link/to/pdf",
            'title': "title"
        },
        amazon={
            'link': "http://amzn.to",
            'title': "title"
        }
    )
#}
<div class="citation {% if add_label %}{{add_label}}{% endif %}">
    <cite><span class="smcp">{{author}}</span> <em>{{title}}</em> {% if kwargs['pdf'] is defined %}<a href="{{ config.get('ASSET_PATH') }}/{{kwargs['pdf']['link']}}" title="{{kwargs['pdf']['title']}}">pdf</a> {% endif %} {% if kwargs['amazon'] is defined %}<a href="{{kwargs['amazon']['link']}}" title="{{kwargs['amazon']['title']}}">amazon</a>{% endif %}</cite>
</div>
{%- endmacro -%}

{%- macro citation_periodical(
    author="",
    date="",
    title="",
    from_work="",
    vol="",
    no="",
    pp=""
) -%}
{#
    headers.citation(
        author="The Author",
        date="20XX",
        title="The Title",
        from_work="Periodical Name",
        vol="N",
        no="N",
        pp="1-2",
        pdf={
            'link': "link/to/pdf",
            'title': "title"
        },
        jstor={
            'link': "jstor link",
            'title': "title"
        }
    )
#}
<div class="citation">
    <cite>{{author}}. “{{title}},” <em>{{from_work}}</em> vol. {{vol}}, no. {{no}} ({{date}}): pp. {{pp}}. {% if kwargs['pdf'] is defined %}<a href="{{ config.get('ASSET_PATH') }}/{{kwargs['pdf']['link']}}" title="{{kwargs['pdf']['title']}}">pdf</a> {% endif %} {% if kwargs['jstor'] is defined %}<a href="{{kwargs['jstor']['link']}}" title="{{kwargs['jstor']['title']}}">amazon</a>{% endif %}</cite>
</div>
{%- endmacro -%}
