<nav>
    <h1 class="menu-button"><span class="sr">Main Menu</span> <span class="menu-label"></span> <span class="navicon-btn"><span class="navicon"></span></span></h1>
    <div class="menu closed">
        <div class="menu-wrapper">
            <ul class="main-menu">
                <li><a href="/articles">Articles</a></li>
                <li><a href="/notes">Notes</a></li>
                <li><a href="/works">Books <span class="text-italic">&</span> Essays</a></li>
                <li><a href="/quotes">Quotes</a></li>
                <li><a href="/bibliographies">Bibliographies</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/list-of-texts">College List of Texts</a></li>
            </ul>
            <ul class="secondary-menu">
{#                 <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li>
                <li><a href="#">Bottom Link</a></li> #}
            </ul>
            <ul class="social-menu">
                <li class="facebook"><a href="https://www.facebook.com/brmullikin"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                <li class="twitter"><a href="https://twitter.com/dissata"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
                <li class="email"><a href="mailto:ben@brmullikin.com"><i class="fa fa-envelope-o"></i> <span>ben@brmullikin.com</span></a></li>
            </ul>
            <div class="menu-advert">
{#                 <div class="top-advert">
                </div>
                <div class="bottom-advert">
                </div> #}
            </div>
            <div class="designed-by">
                <a href="https://www.brmwebdev.com/"><span>Designed by</span> <img src="https://s3.amazonaws.com/static.inexsilio.com/img/brmwebdev-logo-grey-micro.png" title="Learn about how BRM Web Dev can build your next website"> BRM Web Dev</a>
            </div>
        </div>
    </div>
</nav>
